* {
  margin: 0px;
  padding: 0px;
}

.Q1:hover {
  color: #ffa600;
}

.Q2:hover {
  color: orange;
}

.Q3:hover {
  color: orange;
}

.Q4:hover {
  color: orange;
}

.Q5:hover {
  color: orange;
}

body {
  height: 700px;
  background-color: #6565e7;
  background-image: linear-gradient(#af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
}

.workmobile {
  width: 0px;
  height: 0px;
}

.under {
  width: 0px;
  height: 0px;
}

.at {
  position: absolute;
  z-index: 3;
  top: 283px;
  left: -90px;
}

.workdesktop {
  position: absolute;
  left: -79px;
  top: 151px;
  z-index: 2;
  clip: rect(0px, 472px, 389px, 79px);
}

.underdesktop {
  position: absolute;
  top: -192px;
  left: -540px;
  height: 805px;
  z-index: 1;
  clip: rect(186px, 1056px, 774px, 537px);
}

.card {
  position: absolute;
  background-color: white;
  margin-left: 273px;
  border-radius: 37px;
  width: 922px;
  height: 583px;
  bottom: 50px;
}
.card .FAQ {
  position: absolute;
  top: -43px;
  left: 485px;
}
.card .FAQ h1 {
  position: relative;
  top: 80px;
  margin-left: 28px;
  margin-top: 10px;
  margin-bottom: 80px;
  font-weight: 700;
}
.card .FAQ .Q1 {
  background-color: white;
  border: none;
  height: 70px;
  width: 333px;
  border-bottom: 1px solid;
  margin-bottom: 21px;
  margin-left: 25px;
}
.card .FAQ .Q1 .up {
  margin-left: 80px;
}
.card .FAQ .Q2 {
  background-color: white;
  border: none;
  height: 70px;
  width: 333px;
  border-bottom: 1px solid;
  margin-bottom: 21px;
  margin-left: 25px;
}
.card .FAQ .Q2 p {
  color: #a3a3a3;
  margin-top: 5px;
  margin-right: 7px;
  margin-left: 7px;
  text-align: left;
}
.card .FAQ .Q2 .up {
  margin-left: 80px;
}
.card .FAQ .Q3 {
  background-color: white;
  border: none;
  height: 70px;
  width: 333px;
  border-bottom: 1px solid;
  margin-bottom: 21px;
  margin-left: 25px;
}
.card .FAQ .Q3 .up {
  margin-left: 130px;
}
.card .FAQ .Q4 {
  background-color: white;
  border: none;
  height: 70px;
  width: 333px;
  border-bottom: 1px solid;
  margin-bottom: 21px;
  margin-left: 25px;
}
.card .FAQ .Q4 .up {
  margin-left: 125px;
}
.card .FAQ .Q5 {
  background-color: white;
  border: none;
  height: 70px;
  width: 333px;
  border-bottom: 1px solid;
  margin-bottom: 21px;
  margin-left: 25px;
}
.card .FAQ .Q5 .up {
  margin-left: 95px;
}

@media screen and (max-width: 400px) {
  * {
    margin: 0px;
    padding: 0px;
  }

  .Q1:hover {
    color: #ffa600;
  }

  .Q2:hover {
    color: orange;
  }

  .Q3:hover {
    color: orange;
  }

  .Q4:hover {
    color: orange;
  }

  .Q5:hover {
    color: orange;
  }

  body {
    height: 800px;
    background-color: #6565e7;
    background-image: linear-gradient(#af67e9, #6565e7);
    font-family: "Kumbh Sans", sans-serif;
  }

  .workmobile {
    width: 240px;
    height: 216px;
    position: relative;
    top: 26px;
    margin-left: 53px;
    z-index: 1;
  }

  .under {
    width: 250px;
    height: 150px;
    z-index: 1;
    position: absolute;
    top: 141px;
    left: 61px;
  }

  .workdesktop {
    width: 0px;
    height: 0px;
  }

  .card {
    position: absolute;
    background-color: white;
    margin-left: 15px;
    border-radius: 37px;
    width: 345px;
    height: 622px;
    bottom: -108px;
  }
  .card .FAQ {
    position: absolute;
    top: 16px;
    left: -5px;
  }
  .card .FAQ h1 {
    position: relative;
    top: 80px;
    margin-left: 141px;
    margin-top: 10px;
    margin-bottom: 80px;
    font-weight: 700;
  }
  .card .FAQ .Q1 {
    background-color: white;
    border: none;
    height: 70px;
    width: 300px;
    border-bottom: 1px solid;
    margin-bottom: 21px;
    margin-left: 25px;
  }
  .card .FAQ .Q1 .up {
    margin-left: 47px;
  }
  .card .FAQ .Q2 {
    background-color: white;
    border: none;
    height: 70px;
    width: 300px;
    border-bottom: 1px solid;
    margin-bottom: 21px;
    margin-left: 25px;
  }
  .card .FAQ .Q2 p {
    color: #a3a3a3;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 7px;
    text-align: left;
  }
  .card .FAQ .Q2 .up {
    margin-left: 47px;
  }
  .card .FAQ .Q3 {
    background-color: white;
    border: none;
    height: 70px;
    width: 300px;
    border-bottom: 1px solid;
    margin-bottom: 21px;
    margin-left: 25px;
  }
  .card .FAQ .Q3 .up {
    margin-left: 100px;
  }
  .card .FAQ .Q4 {
    background-color: white;
    border: none;
    height: 70px;
    width: 300px;
    border-bottom: 1px solid;
    margin-bottom: 21px;
    margin-left: 25px;
  }
  .card .FAQ .Q4 .up {
    margin-left: 100px;
  }
  .card .FAQ .Q5 {
    background-color: white;
    border: none;
    height: 70px;
    width: 300px;
    border-bottom: 1px solid;
    margin-bottom: 21px;
    margin-left: 25px;
  }
  .card .FAQ .Q5 .up {
    margin-left: 70px;
  }
}
/*# sourceMappingURL=index.css.map */